.row
  .columns
    %h3
      = list.name
      |
      = form_for list, method: :delete, html: { class: 'list-delete' } do
        = icon 'trash'
= render 'new_list_item_form', list: list
= render 'list_items', list: list
