.row
  %h2.columns= list.name
.row
  .columns.small-4
    = link_to new_list_item_path(list.id) do
      .button.brown= 'Add New Item'
= render 'list_items', list: list
.bump
  .columns.small-4
    .button.brown= link_to 'Edit List Properties', edit_list_path(list)
  .columns.small-4
    .button.brown.right= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }
