- if current_user
  .row
    .columns
      %h2 your lists
  = render 'new_list_form'
  - unless current_user.lists.count == 0
    %br
    .row
      .columns
        #in-stock.pantrify-button= icon 'thumbs-up', 'show in-stock items'
        #out-of-stock.pantrify-button= icon 'shopping-cart', 'show out-of-stock items'
        #all.pantrify-button= icon 'th', 'show all items'
    %br
  - current_user.lists.each do |list|
    = render 'list', list: list
- else
  :javascript
    if (window.location.href.indexOf('http://') === 0 && window.location.href.indexOf('spice-rack-server') < 0)
      window.location = window.location.href.replace('http://', 'https://');
  .row
    .small-12.medium-6.columns
      %h2 welcome
      the minimalist kitchen inventory manager is here! register to start keeping track of your foodstuffs.
      .bump
    .small-12.medium-6.columns
      = form_tag user_password_path, class: 'hide', id: 'forgot-form' do
        %h2 forgot password
        .row
          .columns.no-padding
            = email_field_tag :'forgot-email', nil, placeholder: 'email', name: 'user[email]', required: true
        .hide= submit_tag
      = form_tag magic_path, id: 'registration-form' do
        %h2 register / sign in
        .row
          .columns.no-padding
            = email_field_tag :email, nil, placeholder: 'email', name: 'user[email]', required: true
        .row
          .hide= password_field_tag :'password-confirmation', nil, name: 'user[password_confirmation]'
          .columns.no-padding
            = password_field_tag :password, nil, placeholder: 'password', name: 'user[password]', required: true
        .hide= submit_tag
      .row
        .columns.text-right.no-padding
          #register.pantrify-button
            = icon 'user', 'register'
            = '/'
            = icon 'sign-in', 'sign in'
      .row
        .columns.text-right.no-padding
          #forgot.pantrify-button= icon 'question', 'forgot your password'
      .bump
