- if current_user
  = render 'new_list_form'
  .row
    .columns
      %h2 your lists
  - if current_user.lists.count == 0
    .row
      .columns
        you haven't made any lists yet
  - else
    .row
      .columns
        #in-stock.pantrify-button= icon 'thumbs-up', 'show in-stock items'
        #out-of-stock.pantrify-button= icon 'shopping-cart', 'show out-of-stock items'
        #all.pantrify-button= icon 'th', 'show all items'
    .bump
  - current_user.lists.each do |list|
    = render 'list', list: list
- else
  :javascript
    if (window.location.href.indexOf('http://') === 0 && window.location.href.indexOf('.dev') < 0)
      window.location = window.location.href.replace('http://', 'https://');
  .row
    .small-12.medium-6.columns
      = form_tag user_session_path, class: 'hide', id: 'sign-in-form' do
        %h2 sign in
        %input.hide{ type: 'submit' }
        .row
          .columns.no-padding
            = text_field_tag :'sign-in-email', nil, placeholder: 'email', name: 'user[email]'
        .row
          .columns.no-padding
            = password_field_tag :'sign-in-password', nil, placeholder: 'password', name: 'user[password]'
      = form_tag user_password_path, class: 'hide', id: 'forgot-form' do
        %h2 forgot password
        %input.hide{ type: 'submit' }
        .row
          .columns.no-padding
            = text_field_tag :'forgot-email', nil, placeholder: 'email', name: 'user[email]'
      = form_tag user_registration_path, id: 'registration-form' do
        %h2 register
        %input.hide{ type: 'submit' }
        .row
          .columns.no-padding
            = email_field_tag :email, nil, placeholder: 'email', name: 'user[email]'
        .row
          .hide= password_field_tag :'password-confirmation', nil, name: 'user[password_confirmation]'
          .columns.no-padding
            = password_field_tag :password, nil, placeholder: 'password', name: 'user[password]'
      .row
        .columns.text-right.no-padding
          #register.pantrify-button= icon 'user', 'register'
          #sign-in.pantrify-button= icon 'sign-in', 'sign in'
      .row
        .columns.text-right.no-padding
          #forgot.pantrify-button= icon 'question', 'forgot your password'
      .bump
    .small-12.medium-6.columns
      %h2 welcome to pantrify.io
      the minimalist kitchen inventory manager is here! register to start keeping track of your foodstuffs.
      .bump

