- if current_user
  = render 'new_list_form'
  - current_user.lists.each do |list|
    = render 'list', list: list
- else
  .row
    = form_tag user_registration_path, class: 'small-12 medium-6 columns no-padding', id: 'registration-form' do
      .row
        .hide= password_field_tag :'password-confirmation', nil, name: 'user[password_confirmation]'
        .small-7.columns
          = email_field_tag :email, nil, placeholder: 'email', name: 'user[email]'
        .small-5.columns
          = password_field_tag :password, nil, placeholder: 'password', name: 'user[password]'
      .row
        .columns.text-right
          #register.pantrify-button= icon 'user', 'register'

