.row
  %h2.columns= @list.name
.row
  %p.columns= @list.description
.row
  .columns
    = link_to new_list_item_path(@list.id) do
      .button.brown= 'Add New Item'
.row
  .columns
    .stock
      - @list_items.each_with_index do |list_item, index|
        .row{ class: "#{ list_item.in_stock ? 'in' : 'out' }" }
          .columns.small-6
            = Item.find(list_item.item_id).name
          .columns.small-6.button
            = edit_list_item_link list_item
.row
  .columns.small-6
    .button.brown= link_to('Back to all Lists', lists_path)
  .columns.small-6
    .button.brown.right= link_to('Edit List Properties', edit_list_path(@list))
.row
  .columns= link_to('Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' })