<% session[:list_id] = @list.id %>
<p>
  <h2><%= @list.name %></h2>
</p>

<p>
  <%= @list.description %>
</p>
<%= link_to new_item_path do %>
<div class='button'>
 Add New Item
</div>
<% end %>
<br>
<br>
<%= 'Out of Stock' unless @items.where(list_id: @list.id, in_stock: false).count == 0 %>
<br>
<div class='out-of-stock-list'>
<% @items.where(list_id: @list.id, in_stock: false).each_with_index do |item, index| %>
  <%= link_to edit_item_path(item) do %>
  <div class='list-item <%= index%2 == 0 ? 'even' : 'odd' %>'>
    <div class='item-name'><%= item.name %></div>
  </div>
  <% end %>
<% end %>
</div>

<br>
<%= 'In Stock' unless @items.where(list_id: @list.id, in_stock: true).count == 0 %>
<br>
<div class='in-stock-list'>
<% @items.where(list_id: @list.id, in_stock: true).each_with_index do |item, index| %>
  <%= link_to edit_item_path(item) do %>
  <div class='list-item <%= index%2 == 0 ? 'even' : 'odd' %>'>
    <div class='item-name'><%= item.name %></div>
  </div>
  <% end %>
<% end %>
</div>
    
<br>
<%= link_to 'Edit List Properties', edit_list_path(@list) %> |
<%= link_to 'Back to all Lists', lists_path %>
<br><br><br>
<%= link_to 'Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' } %>
