<p id="notice"><%= notice %></p>

<p>
  <h2><%= @list.name %></h2>
</p>

<p>
  <%= @list.description %>
</p>
<div class='list'>
<% @items.where(list_id: @list.id).each_with_index do |item, index| %>
  <%= link_to edit_item_path(item) do %>
    <div class='item-name list-item <%= index%2 == 0 ? 'even' : 'odd' %>'><%= item.name %></div>
    <div class='list-item stock <%= item.in_stock ? 'in-stock' : 'out-of-stock' %>'><%= item.in_stock ? 'In' : 'Out of' %> stock</div>
  <% end %>
<% end %>
</div>
    
<% session[:list_id] = @list.id %>
<%= link_to 'New Item', new_item_path %>
<br>
<%= link_to 'Edit List Properties', edit_list_path(@list) %> |
<%= link_to 'Back to all Lists', lists_path %>
<br><br><br>
<%= link_to 'Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' } %>
