<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>List:</strong>
  <%= @item.list_id %>
</p>

<p>
  <strong>In stock:</strong>
  <%= @item.in_stock %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', list_path(session[:list_id]) %>
