%h2 Update item
= form_for(@list_item) do |f|
  = f.hidden_field :id
  .form
    = f.label :in_stock
    = f.check_box :in_stock
  .actions
    = f.submit
= form_tag list_item_path(@list_item.id), method: :delete do
  = submit_tag 'Delete'
= link_to 'Back to Lists', root_path
