%h2 New item
- @list_item.errors.each do |error, message| 
  = "#{ Item.find(@list_item.item_id).name } is already on this rack!"
= form_for(@list_item) do |f|
  = f.hidden_field :item_id
  = f.hidden_field :list_id
  .form
    = label_tag :name
    = text_field_tag(:name, params[:name])
  .form
    = f.label :in_stock
    = f.check_box :in_stock
  .actions
    = f.submit

= link_to('Back to list', list_path(@list_item.list_id))
