%header
  .row
    .columns
      = link_to root_path do
        %h1{ class: 'flaticon-frying' }
          pantrify.io
      .right
        - if current_user
          .bump
          = link_to destroy_user_session_path, method: :delete, class: 'pantrify-button' do
            = icon 'sign-out', 'sign out'
  - unless current_user
    .row
      #social.columns
        = render 'layouts/pinterest'
        = render 'layouts/facebook'
        = render 'layouts/twitter'
  %hr
